

/* 
body{
  height: 100vh;
  display : flex;
  align-items: center;
  justify-content: center
}
 */


 h1{
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%,-50%);
 }


 .container {

 }

 .container > div

 .container > div:nth-child(3){}





 nav{
  position: fixed;
  right: 1rem;
  top: 1rem;
 }



nav > ul{
  list-style: none;
  display:flex;
  gap: 1rem;
}




nav > ul > li{

}

nav > ul > li > button.is-active{
  background-color: orange;
  transform: translateY(-5px);
}

nav > ul > li > button{
  padding: 0.5rem;
  cursor: pointer;
  transition:all .5s;
  border: none;
}

nav > ul > li:hover > button{
  transform: translateY(-5px);
}


.first{
  display: block;
}




.userCard{
  max-width: 350px;
  display:flex;
  flex-direction: column;
  border: 1px solid black;
  padding: 1rem;
  position: relative;
  gap:0.3rem;
  margin-bottom: 1rem;
  transition:all .3s;
}

.userCard:hover{
  transform:translate(-3px,-3px);
  box-shadow: 2px 2px 2px 2px #00000066;
}

.imageField{
  width: 4rem;
  height: 4rem;
  position: absolute;
  right: 1rem;
  top: 50%;
  transform: translateY(-50%);
  background: #000;
}